<div class="container">
  <div class="row-md-8 offset-2 mt-5 h2">
    <p>会員情報編集 / Modifier d'information</p>
  <% if @student.email == 'guest@example.com' %>
    <p>ゲストユーザーはユーザー情報の編集ができません。</p>
  <% end %>
  </div>

  <div class="row-md-8 offset-2 mt-4">
    <%= render "layouts/errors", obj: @student %>
    <%= form_with model: @student, url: students_information_path, method: :patch do |f| %>
    <table>
      <tr>
        <th style="width: 60%", class="text-center">会員ID</th>
        <td><%= @student.id %></td>
      </tr>
      <tr>
        <th style="width: 60%", class="text-center">姓（ローマ字）</th>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <th style="width: 60%", class="text-center">名（ローマ字）</th>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <th style="width: 60%", class="text-center">メールアドレス</th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th style="width: 60%", class="text-center">電話番号</th>
        <td><%= f.text_field :telephone_number %></td>
      </tr>
      <% if admin_signed_in? %>
      <tr>
        <th style="width: 60%", class="text-center">会員ステータス</th>
        <td>
          <% if admin_signed_in? %>
            <%= f.radio_button :is_deleted, "false" %>
            <%= f.label :is_deleted_false, "有効" %>
            <%= f.radio_button :is_deleted, "true" %>
            <%= f.label :is_deleted_true, "退会" %></td>
          <% else %>
            <%= @student.is_deleted ? '退会' : '有効' %>
          <% end %>
      </tr>
      <% end %>
    </table>
    <div class="row-md-7 offset-3 mt-3">
      <%= f.submit '変更を保存する', class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>