<div class="container">
  <div class="row-md-8 offset-2 mt-5 h2">
    生徒一覧 / Apprenants
  </div>
  <div class="row-md-8 offset-2 mt-4">
      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @students.each do |student| %>
        <tbody>
          <tr>
            <td><%= student.id %></td>
            <td><%= link_to students_information_path(student.id) do %>
            <%= student.last_name %>&nbsp;<%= student.first_name %>
            <% end %></td>
            <td><%= student.email %></td>
            <td>
              <% if student.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
</div>
