<div class="container">
  <div class="row-md-8 offset-2 mt-5 h2">
    生徒一覧 / Apprenants
  </div>
  <div class="row-md-8 offset-2 mt-4">
      <table>
        <thead>
          <tr>
            <th class="text-center", style="width: 10%">会員ID</th>
            <th class="text-center", style="width: 20%">氏名</th>
            <th class="text-center", style="width: 30%">メールアドレス</th>
            <th class="text-center", style="width: 10%">ステータス</th>
          </tr>
        </thead>
        <% @students.each do |student| %>
        <tbody>
          <tr>
            <td class="text-center"><%= student.id %></td>
            <td class="text-center"><%= link_to students_information_path(student.id) do %>
            <%= student.last_name %>&nbsp;<%= student.first_name %>
            <% end %></td>
            <td class="text-center"><%= student.email %></td>
            <td class="text-center">
              <% if student.is_deleted %>
                退会
              <% else %>
                有効
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @students %>
  </div>
</div>
