<div class="container mb-5 mt-5">
  <h2>スケジュール / Programme</h2>
  <div class="row">
    <% if teacher_signed_in? %>
      <%= link_to '新規スケジュール登録はこちら', new_schedule_path %>
    <% elsif student_signed_in? %>
    <div><%= link_to '予約履歴', reservations_path %></div>
    <div class="w-100"></div>
    <div><%= link_to "講師から選ぶ", teachers_path %></div>
    <% end %>
  </div>
  <div class="row">
  <div class="col-md-9 offset-1">
  <%= week_calendar events: @schedules do |date, schedules| %>
    <%= date.day %>
  <% end %>
  </div>
  </div>

<% if admin_signed_in? %>
  <div class="row">
  <% @schedules.each do |schedule| %>
    <div class="col-md-7 offset-3">
      <table>
        <tr>
          <th style="width: 20%">講師名</th>
          <th>勤務日時</th>
        </tr>
        <tr>
          <td><%= schedule.teacher.first_name %><%= schedule.teacher.last_name %></td>
          <td><%= schedule.start_time.strftime("%Y-%m-%d %H:%M") %></td>
          <td>〜</td>
          <td><%= schedule.finish_time.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= link_to '詳細へ', schedule_path(schedule) %></td>
          <td>
            <% if student_signed_in? %>
            <%= link_to '予約する', new_schedule_reservation_path(schedule) %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  </div>
<% end %>