<h1>スケジュール / Programme</h1>

<div><%= link_to '新規スケジュール登録はこちら', new_schedule_path %></div>
  <% @schedules.each do |schedule| %>
    <table>
      <tr>
        <th>講師名</th>
        <th>勤務日時</th>
      </tr>
      <tr>
        <td><%= schedule.teacher.first_name %><%= schedule.teacher.last_name %></td>
        <td><%= schedule.start_time %>～</td>
        <td><%= schedule.finish_time %></td>
        <td><%= link_to '詳細へ', schedule_path(schedule) %></td>
      </tr>
    </table>
  <% end %>
