<h1>スケジュール一覧</h1>

<div><%= link_to '新規スケジュール登録はこちら', new_schedule_path %></div>

<% if @teacher == current_teacher %>
  <% @teacher_schedules.each do |teacher_schedule| %>
    <table>
      <tr>
        <th>講師名</th>
        <th>勤務日時</th>
      </tr>
      <tr>
        <td><%= teacher_schedule.teacher.first_name %><%= teacher_schedule.teacher.last_name %></td>
        <td><%= teacher_schedule.start_time %>～</td>
        <td><%= teacher_schedule.finish_time %></td>
        <td><%= link_to '詳細へ', schedule_path(teacher_schedule) %></td>
      </tr>
    </table>
  <% end %>
<% else %>
  <% @schedules.each do |schedule| %>
    <table>
      <tr>
        <th>講師名</th>
        <th>勤務日時</th>
      </tr>
      <tr>
        <td><%= schedule.teacher.first_name %><%= schedule.teacher.last_name %></td>
        <td><%= schedule.start_time %>～</td>
        <td><%= schedule.finish_time %></td>
        <td><%= link_to '詳細へ', schedule_path(schedule) %></td>
      </tr>
    </table>
  <% end %>
<% end %>