<div class="container mb-5">
  <h1>スケジュール登録</h1>
  <div classs="row">
    <%= render "layouts/errors", obj: @schedule %>
    <%= form_with model: @schedule, url: schedules_path do |f| %>
      <!--f.hidden_fieldで講師idを送信-->
      <%= f.hidden_field :teacher_id, value: current_teacher.id %>
      <table>
          <tr>
            <th class="w-20">講師名</th>
            <td><%= current_teacher.first_name %>&nbsp;<%= current_teacher.last_name %></td>
          </tr>
          <tr>
            <th>勤務日時</th>
            <td>
              <%= f.datetime_select :start_time, :minute_step => 60 %>～
              <%= f.datetime_select :finish_time, :minute_step => 60 %>
            </td>
          </tr>
          <tr>

          </tr>
      </table>
      <%= f.submit '登録', class: "btn btn-success" %>

    <% end %>

  </div>
</div>