<div>
  <h2>スケジュール詳細</h2>
  <table>
    <tr>
      <th>講師名</th>
      <th>勤務日時</th>
    </tr>
    <tr>
      <td>
        <%= link_to teachers_information_path do %>
          <%= @schedule.teacher.first_name + @schedule.teacher.last_name %>
        <% end %>
      </td>
      <td><%= @schedule.start_time %>～<%= @schedule.finish_time %></td>
    </tr>
  </table>
  <div>
    <% if @schedule.teacher == current_teacher %>
    <%= link_to '変更する', edit_schedule_path %>
    <%= link_to '削除する', schedule_path(@schedule), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
  </div>
</div>