<div class="container">
<%= form_with(model: @contact, local: true) do |f| %>
  <div class="row-md-8 offset-2">
    お問い合わせフォーム
  </div>
  <div>
    <% if @contact.errors.any? %>
    <div>
      <ul><%= @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="contact-form">
      <div>
        <%= f.label "お名前" %>
        <%= f.text_field :name, placeholder: "お名前", class: "input-form" %>
      </div>
      <div>
        <%= f.label "お問い合わせ内容" %>
        <%= f.text_area :content, placeholder: "お問い合わせ内容を入力してください", class: "input-form" %>
      </div>
      <div class="send-btn-contents">
        <%= f.button type: "submit", class: "register-red-btn", style:'border-style: none;' do %>
        送信<i class="fa-regular fa-paper-plane"></i>
        <% end %>
      </div>
      <div class="register-btn">
        <%= link_to "戻る", root_path, class: "register-red-btn", style:"background-color: #aaa" %>
      </div>
    </div>
  </div>
<% end %>
</div>