<div class="container">
  <% if admin_signed_in? || teacher_signed_in? %>
    <div class="row-md-9 offset-1 mt-5 h2">予約一覧</div>
      <div class="row-md-8 offset-2 mt-4">
      <table>
      <tr>
        <% @reservations.each do |reservation| %>
          <tr>
            <td>受講者氏名：<%= reservation.student.last_name %>&nbsp;<%= reservation.student.first_name %></td>
          </tr>
          <tr>
            <td>受講予定日：<%= reservation.schedule.start_time.strftime("%Y-%m-%d %H:%M") %>〜</td>
            <td><%= reservation.schedule.finish_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to '詳細', schedule_reservation_path(schedule_id: reservation.schedule_id, id: reservation.id) %></td>
          </tr>
        <% end %>
        </tr>
        </table>
      </div>
    <% elsif student_signed_in? %>
    <div class="row-md-9 offset-1 mt-5 h2">
    予約履歴
    </div>
    <div class="row-md-8 offset-2 mt-4">
      <table>
        <tr>
          <% @reservations.each do |reservation| %>
            <tr>
              <td>受講者氏名：<%= reservation.student.last_name + reservation.student.first_name %></td>
            </tr>
            <tr>
              <td>受講予定日：<%= reservation.schedule.start_time.year %>年<%= reservation.schedule.start_time.month %>月<%= reservation.schedule.start_time.day %>日</td>
              <td><%= link_to '詳細', schedule_reservation_path(schedule_id: reservation.schedule_id, id: reservation.id) %></td>
            </tr>
          <% end %>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</div>