<div>
  <h2>講師情報編集 / Modification d'information d'enseignant</h2>
  <div>
    <%= form_with model: @teacher, url: teachers_information_path, method: :patch do |f| %>
      <div>
        <%= f.label :プロフィール画像 %>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div>
        <%= f.label :講師ID %>
        <%= @teacher.id %>
      </div>
      <div>
        <%= f.label :講師名 %>
        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
      </div>
      <div>
        <%= f.label :メールアドレス %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :電話番号 %>
        <%= f.text_field :telephone_number %>
      </div>
      <div>
        <%= f.label :得意分野 %>
        <%= f.select :specialty, Teacher.specialties.keys, {} %>
      </div>
      <div>
        <th>ステータス</th>
        <% if admin_signed_in? %>
          <%= f.radio_button :is_deleted, "false" %>
          <%= f.label :is_deleted_false, "有効" %>
          <%= f.radio_button :is_deleted, "true" %>
          <%= f.label :is_deleted_true, "退会" %>
        <% else %>
          <%= @teacher.is_deleted %>
        <% end %>
      </div>
      <div>
        <th>メッセージ</th>
        <%= f.text_area :introduction %>
      </div>
      <%= f.submit '変更を保存' %>
    <% end %>
  </div>
</div>