<div>
  <h2>講師一覧 / Enseigants</h2>
  <div>
    <% if admin_signed_in? %>
    <table>
      <thead>
        <tr>
          <th>講師ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th>メッセージ</th>
        </tr>
      </thead>
      <% @teachers.each do |teacher| %>
      <tbody>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= link_to teachers_information_path(teacher) do %>
          <%= image_tag teacher.get_image(50, 50) %>
          <%= teacher.last_name + teacher.first_name %>
          <% end %></td>
          <td><%= teacher.email %></td>
          <td>
            <% if teacher.is_deleted %>
              退会
            <% else %>
              有効
            <% end %>
          </td>
          <td><%= teacher.introduction %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>氏名</th>
            <th>メッセージ</th>
          </tr>
        </thead>
        <% @teachers.each do |teacher| %>
        <tbody>
          <tr>
            <td><%= link_to teachers_information_path(teacher) do %>
            <%= image_tag teacher.get_image(50, 50) %>
            <%= teacher.last_name + teacher.first_name %>
            <% end %></td>
            <td><%= teacher.introduction %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
</div>