<div class="container">
  <div class="row-md-8 offset-2 mt-5 h2">
    講師一覧 / Enseigants
  </div>
  <div class="row-md-8 offset-2 mt-4">
    <% if admin_signed_in? %>
    <table>
      <thead>
        <tr>
          <th class="text-nowrap", style="width: 10%">講師ID</th>
          <th class="text-nowrap", style="width: 25%">氏名</th>
          <th class="text-nowrap", style="width: 25%">メールアドレス</th>
          <th class="text-nowrap", style="width: 15%">ステータス</th>
          <th class="text-nowrap",style="width: 25%">メッセージ</th>
        </tr>
      </thead>
      <% @teachers.each do |teacher| %>
      <tbody>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= link_to teachers_information_path(teacher) do %>
          <%= image_tag teacher.get_image(50, 50) %>
          <%= teacher.last_name + teacher.first_name %>
          <% end %></td>
          <td><%= teacher.email %></td>
          <td>
            <% if teacher.is_deleted %>
              退会
            <% else %>
              有効
            <% end %>
          </td>
          <td><div class="text-wrap text-truncate w-50 m-0"><%= teacher.introduction %></div></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
      <table>
        <thead>
          <tr>
            <th class="text-nowrap">氏名</th>
            <th class="text-nowrap">メッセージ</th>
          </tr>
        </thead>
        <% @teachers.each do |teacher| %>
        <tbody>
          <tr>
            <td><%= link_to teachers_information_path(teacher) do %>
            <%= image_tag teacher.get_image(50, 50) %>
            <%= teacher.last_name + teacher.first_name %>
            <% end %></td>
            <td><div class="text-wrap text-truncate"><%= teacher.introduction %></div></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% end %>
    <%= paginate @teachers %>
  </div>
</div>