<div>
  <h2>講師一覧</h2>
  <div>
    <% if admin_signed_in? %>
    <table>
      <thead>
        <tr>
          <th>講師ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @teachers.each do |teacher| %>
      <tbody>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= link_to teachers_information_path(teacher) do %>
          <%= teacher.last_name + teacher.first_name %>
          <% end %></td>
          <td><%= teacher.email %></td>
          <td><%= teacher.is_deleted %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>講師ID</th>
            <th>氏名</th>
          </tr>
        </thead>
        <% @teachers.each do |teacher| %>
        <tbody>
          <tr>
            <td><%= teacher.id %></td>
            <td><%= link_to teachers_information_path(teacher) do %>
            <%= teacher.last_name + teacher.first_name %>
            <% end %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    <% end %>
  </div>
</div>