<div class="container">
  <div class="row-md-8 offset-2 mt-5 h2">
    講師詳細 / Détail d'enseignant
  </div>
  <div class="row--md-8 offset-2 mt-3">
  <% unless student_signed_in? %>
    <table>
      <tr>
        <%= image_tag @teacher.get_image(100, 100) %>
      </tr>
      <tr>
        <th class="text-nowrap">講師ID</th>
        <td><%= @teacher.id %></td>
      </tr>
      <tr>
        <th class="text-nowrap">氏名</th>
        <td><%= @teacher.first_name %>&nbsp;<%= @teacher.last_name %></td>
      </tr>
      <tr>
        <th class="text-nowrap">メールアドレス</th>
        <td><%= @teacher.email %></td>
      </tr>
      <tr>
        <th class="text-nowrap">電話番号</th>
        <td><%= @teacher.telephone_number %></td>
      </tr>
      <tr>
        <th class="text-nowrap">得意分野</th>
        <td><%= @teacher.specialty_i18n %></td>
      </tr>
      <tr>
        <th class="text-nowrap">ステータス</th>
        <td class="text-nowrap">
          <% if @teacher.is_deleted %>
            退会
          <% else %>
            有効
          <% end %>
        </td>
      </tr>
      <tr>
        <th class="text-nowrap">メッセージ</th>
        <td><%= @teacher.introduction %></td>
      </tr>
    </table>
  <% else %>
    <table>
      <tr>
        <td><%= image_tag @teacher.get_image(100, 100) %></td>
        <div id ="favorite_<%= @teacher.id %>">
          <%= render 'teachers/shared/favorite', teacher: @teacher %>
        </div>
      </tr>
      <tr>
        <th class="text-nowrap">氏名</th>
        <td>
          <%= @teacher.first_name %>&nbsp;<%= @teacher.last_name %>
        </td>
      </tr>
      <tr>
        <th class="text-nowrap">得意分野</th>
        <td><%= @teacher.specialty_i18n %></td>
      </tr>
      <tr>
        <th class="text-nowrap">メッセージ</th>
        <td><%= @teacher.introduction %></td>
    </table>
  <% end %>
  </tr>
  </div>
  <div class="row--md-8 offset-2 mt-3">
    <% if @teacher == current_teacher || admin_signed_in? %>
      <%= link_to "編集する", edit_teachers_information_path, class: "btn btn-success" %>
    <% else %>
      <%= link_to "この講師のレッスンを予約する", schedules_path(teacher_id: @teacher), class: "btn btn-primary" %>
    <% end %>
    <%= link_to '戻る', :back, class: "btn btn-secondary" %>
  </div>
</div>