<div>
  <h2>講師詳細</h2>
  <table>
    <tr>
      <th>講師ID</th>
      <td><%= @teacher.id %></td>
    </tr>
    <tr>
      <th>氏名</th>
      <td><%= @teacher.first_name + @teacher.last_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @teacher.email %></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <td><%= @teacher.telephone_number %></td>
    </tr>
    <tr>
      <th>得意分野</th>
      <td><%= @teacher.specialty %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @teacher.is_deleted %></td>
    </tr>
  </table>
  <div>
    <% if @teacher == current_teacher %>
      <%= link_to "編集する", edit_teachers_information_path %>
    <% elsif admin_signed_in? %>
      <%= link_to "編集する", edit_teachers_information_path %>
    <% else %>
    <% end %>
  </div>
</div>